			<nav th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" class="navbar navbar-inverse navbar-fixed-top">
	            <div class="container">
	                <div class="navbar-collapse collapse">
	                    <ul class="nav navbar-nav">
	                        <li><a href="/">Home</a></li>
	                        <li><a href="/api">Call other's App API X</a></li>
	                        <li><a href="/profile">Profile</a></li>
	
	                    </ul>
	                        <ul class="nav navbar-nav navbar-right">
	                            <li class="ml-auto mr-1"><a href="/signout">Sign out</a></li>
	                        </ul>
	                </div>
	            </div>
			</nav>